<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Designvorlage Schulung Extensionprogrammierung</title>
</head>
<body>
<h1>Designvorlage Veranstaltungskalender</h1>
<br />
<br />
<h2>Listenansicht</h2>

<br />
<!-- ###LIST### begin -->
<div class="span8">
	<h1>Veranstaltungen</h1>
	<div class="well">
		<form action="###ACTION###" method="post" style="margin: 0 0 0 0;" class="form-horizontal form-search">
			<fieldset>
				<div class="control-group">
					<label for="user-events-sword" class="control-label">###LABEL_SEARCH###</label>
					<div class="controls">
						<div class="input-append">
							<input type="search" id="user-events-sword" class="span3" name="user_events_pi1[sword]" value="###SWORD###" placeholder="###PLACEHOLDER###" />
							<button type="submit" class="btn"><i class="icon-search"></i> ###STARTSEARCH###</button>
						</div>
					</div>
				</div>
				<div style="display:none;">
					<input type="hidden" name="no_cache" value="1" />
					<input type="hidden" name="user_events_pi1[pointer]" value="" />
				</div>
			</fieldset>
		</form>
	</div>
	<hr />
	###PAGEBROWSER###
	<hr />
	<div class="user-events-pi1-items">
	<!-- ###SINGLEROW### -->
		<!-- ###LIST_1### begin -->
		<div class="user-events-listitem user-events-odd">
			<div class="user-events-date">###DATE### ###TIME###</div>
			<div class="user-events-title">
				<hgroup>
					<h2>###TITLE###</h2>
					<h3>###SUBTITLE###</h3>
				</hgroup>
			</div>
			###LOCATION###
			<div class="user-events-shorttext">###SHORTTEXT###</div>
			<div class="user-events-detaillink">###LINK###</div>
		</div>
		<hr />
		<!-- ###LIST_1### end -->

		<!-- ###LIST_2### begin -->
		<div class="user-events-listitem user-events-even">

			<div class="user-events-date">###DATE### ###TIME###</div>
			<div class="user-events-title">
				<h2>###TITLE###</h2><h3>###SUBTITLE###</h3>
			</div>
			###LOCATION###
			<div class="user-events-shorttext">###SHORTTEXT###</div>
			<div class="user-events-detaillink">###LINK###</div>
		</div>
		<hr />
		<!-- ###LIST_2### end -->
	<!-- ###SINGLEROW### -->
	</div>
	###PAGEBROWSER###
	<div class="user-events-trenner"><!-- --></div>
</div>
<!-- ###LIST### end -->

<br />
<br />
<h2>Detail-Ansicht</h2>
<br />

<!-- ###SINGLE### begin -->
<div class="span8">
	<div class="user-events-date">###DATE### ###TIME###</div>

	<div class="user-events-title">
		<!-- ###HGROUP### -->
		<h2>###TITLE###</h2>
		###SUBTITLE###
		<!-- ###HGROUP### -->
	</div>
	###LOCATION###
	<!-- ###CATEGORIES_CONTAINER### -->
	<div class="user-events-category">###CATEGORIES###</div>
	<!-- ###CATEGORIES_CONTAINER### -->

	<div class="user-events-bodytext-container">
		<div class="user-events-bodytext">###BODYTEXT###</div>
		<ul class="thumbnails">
			<li class="span3">###IMAGE###</li>
		</ul>

	</div>
	<hr />
	<!-- ###LINKS_CONTAINER### -->
		<div class="user-events-links">
			<h3>###LABEL_LINKS###</h3>
				###LINKS###
		</div>
	<!-- ###LINKS_CONTAINER### -->
	<!-- ###DOCUMENTS_CONTAINER### -->

		<div class="user-events-documents">
			<h3>###LABEL_DOCUMENTS###</h3>

			###DOCUMENTS###
		</div>
	<!-- ###DOCUMENTS_CONTAINER### -->
	<div class="user-events-detaillink">
		<br />
		###BACKLINK###
		<div class="user-events-trenner">&nbsp;</div>
	</div>
</div>
<!-- ###SINGLE### end -->

</body>
</html>